:root {
  --color-primary:#00aeef;
  --color-grey-dark:rgb(31, 31, 31); }

@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proxima_nova_thin-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proxima_nova_bold-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: proxima_nova;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: black; }

.mt-5 {
  margin-top: 5rem; }

.mt-10 {
  margin-top: 10rem; }

.mb-10 {
  margin-bottom: 10rem; }

.px-5 {
  padding: 0 5rem; }

h2 {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-weight: 100; }

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-weight: 400; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1040px; } }

.container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

a {
  display: block; }
  @media only screen and (max-width: 36rem) {
    a {
      display: inline-block; } }

.navbar {
  background-color: #fff;
  display: flex;
  position: fixed;
  z-index: 10;
  width: 101%;
  flex-flow: row wrap;
  justify-content: space-between; }
  .navbar__title {
    margin: 0 0 0 10rem;
    display: inline-block;
    height: 8rem;
    width: 8rem; }
    @media only screen and (max-width: 48rem) {
      .navbar__title {
        margin: 2rem 0 2rem 2rem;
        height: 100%; } }
  .navbar__image {
    width: 110%; }
  .navbar__links {
    margin: 0 2rem 0rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
    list-style-type: none;
    text-transform: uppercase; }
    @media only screen and (max-width: 62rem) {
      .navbar__links {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 36rem) {
      .navbar__links {
        margin: 0;
        display: inline-block;
        width: 100%;
        text-align: center;
        max-height: 0px;
        opacity: 0;
        transition-property: max-height, opacity;
        transition-duration: .5s, .3s;
        transition-timing-function: ease-in-out; } }
    .navbar__links :hover {
      color: var(--color-primary); }
    .navbar__links .currentLink {
      color: var(--color-primary); }
    .navbar__links li {
      margin: 1rem 3.5rem; }
      @media only screen and (max-width: 48rem) {
        .navbar__links li {
          margin: 1rem 3rem; } }
      @media only screen and (max-width: 36rem) {
        .navbar__links li {
          border-bottom: solid 1px #dadada;
          margin: 0;
          margin-right: -550px;
          padding: 15px;
          transition: margin 0.5s linear; } }

#toggle {
  display: none; }

label {
  font-size: 26px;
  line-height: 120px;
  opacity: 0;
  transition: all .4s linear;
  cursor: pointer; }
  @media only screen and (max-width: 36rem) {
    label {
      display: inline-block;
      margin-right: 5rem;
      text-align: center;
      opacity: 1; } }

#toggle:checked ~ .navbar__links {
  max-height: 250px;
  opacity: 1;
  transition-property: max-height, opacity;
  transition-duration: .3s, .5s;
  transition-timing-function: ease-in-out; }

#toggle:checked + .burger {
  opacity: 0; }

@media only screen and (max-width: 36rem) {
  #toggle:checked ~ .navbar__links li {
    border-bottom: solid 1px #dadada;
    margin: 0; } }

#toggle:checked ~ .burger-close {
  display: inline-block;
  max-width: 100%;
  margin-right: 2rem;
  opacity: 1;
  transition: all .3s linear;
  right: 27px; }
  #toggle:checked ~ .burger-close .scissors {
    transform: rotate(0deg); }

.burger-close {
  position: absolute;
  right: 27px;
  margin: 0;
  opacity: 0;
  transition: opacity .3s linear; }

.scissors {
  height: 0px;
  width: 0px;
  transform: rotate(360deg);
  transition: transform .3s linear; }
  @media only screen and (max-width: 36rem) {
    .scissors {
      height: 30px;
      width: 30px; } }

.bio {
  background-color: #000;
  height: 200vh; }

.simpleParallax {
  width: 100%;
  position: relative;
  background: grey;
  overflow: hidden;
  text-align: center;
  height: 100vh; }

.parallax {
  position: relative; }

.parallax__banner {
  display: inline-block;
  height: auto;
  z-index: 1; }
  .parallax__banner--1 {
    width: 65%;
    transform-origin: top; }
    @media only screen and (max-width: 75rem) {
      .parallax__banner--1 {
        width: 100%; } }
    @media only screen and (max-width: 48rem) {
      .parallax__banner--1 {
        width: 120%;
        transform-origin: top; } }
    @media only screen and (max-width: 36rem) {
      .parallax__banner--1 {
        width: 150%;
        transform-origin: top; } }
  .parallax__banner--2 {
    width: 70%;
    transform-origin: bottom; }
    @media only screen and (max-width: 75rem) {
      .parallax__banner--2 {
        width: 100%; } }
    @media only screen and (max-width: 48rem) {
      .parallax__banner--2 {
        width: 120%; } }
    @media only screen and (max-width: 36rem) {
      .parallax__banner--2 {
        width: 160%; } }
  .parallax__banner--3, .parallax__banner--5 {
    width: 70%;
    transform-origin: center; }
    @media only screen and (max-width: 121rem) {
      .parallax__banner--3, .parallax__banner--5 {
        width: 65%;
        transform-origin: top; } }
    @media only screen and (max-width: 100rem) {
      .parallax__banner--3, .parallax__banner--5 {
        width: 85%;
        transform-origin: top; } }
    @media only screen and (max-width: 75rem) {
      .parallax__banner--3, .parallax__banner--5 {
        width: 100%;
        transform-origin: top right; } }
    @media only screen and (max-width: 62rem) {
      .parallax__banner--3, .parallax__banner--5 {
        width: 130%;
        transform-origin: top right; } }
    @media only screen and (max-width: 48rem) {
      .parallax__banner--3, .parallax__banner--5 {
        width: 160%;
        transform-origin: top right; } }
    @media only screen and (max-width: 40rem) {
      .parallax__banner--3, .parallax__banner--5 {
        width: 200%;
        transform-origin: top right; } }
  .parallax__banner--4 {
    width: 90%;
    transform-origin: top; }
    @media only screen and (max-width: 75rem) {
      .parallax__banner--4 {
        width: 100%; } }
    @media only screen and (max-width: 62rem) {
      .parallax__banner--4 {
        width: 130%; } }
    @media only screen and (max-width: 48rem) {
      .parallax__banner--4 {
        width: 160%;
        transform-origin: top right; } }
    @media only screen and (max-width: 40rem) {
      .parallax__banner--4 {
        width: 200%;
        transform-origin: top right; } }

.parallax__wrapper {
  position: absolute;
  display: inline-block;
  width: auto;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 2; }

.parallax__text {
  color: #fff;
  font-family: proxima_nova;
  font-size: 4rem;
  font-style: normal;
  font-weight: 100;
  padding: 2rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  word-spacing: 10px;
  text-align: center; }

.about {
  margin: 10rem 0; }
  .about__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .about__wrapper {
    width: 50rem;
    height: 20rem;
    margin-bottom: 2rem;
    overflow: hidden;
    padding-right: 105px; }
    .about__wrapper img {
      height: auto;
      width: 30rem; }
  .about__title {
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 7.5rem; }
    @media only screen and (max-width: 48rem) {
      .about__title {
        margin-bottom: 4rem; } }
  .about__container {
    margin-top: 2rem; }
    .about__container a {
      display: inline-block; }
      @media only screen and (max-width: 48rem) {
        .about__container a {
          display: none; } }
  .about__text {
    font-size: 1.6rem; }

.options {
  margin-bottom: 10rem; }
  @media only screen and (max-width: 48rem) {
    .options {
      margin-bottom: 3rem; } }
  .options__title {
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 7.5rem; }
  .options__heading {
    margin-top: 2rem;
    font-size: 2.3rem;
    font-weight: 100;
    text-transform: uppercase; }
  .options__container {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 48rem) {
      .options__container {
        align-content: center; } }
    .options__container a {
      display: inline-block; }
      @media only screen and (max-width: 48rem) {
        .options__container a {
          margin: 0 0 8rem 0;
          align-self: center;
          width: 50%;
          text-align: center; } }
  .options__text {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 1.5rem; }
  .options__image {
    width: 100%; }

.footer {
  padding: 5rem;
  height: 100%;
  background: #1f1f1f;
  font-size: 1.6rem;
  color: #fff; }
  .footer__container {
    padding: 2rem;
    display: flex;
    flex-direction: column; }
  .footer__social {
    margin-bottom: 3rem; }
  .footer__heading {
    font-weight: normal;
    text-transform: uppercase; }
  .footer__hours__item {
    display: flex;
    justify-content: space-between; }
  .footer__hours__holder {
    text-align: center; }
  .footer__location__holder {
    margin: 0 auto; }
  .footer__location__item {
    text-decoration: none;
    list-style-type: none;
    line-height: 1.2; }
  .footer__links__item {
    text-decoration: none;
    list-style: none;
    height: 50px; }
    .footer__links__item a {
      height: 100%;
      color: #fff;
      width: 100%;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s linear; }
      .footer__links__item a:hover {
        color: var(--color-primary); }

menu:last-child {
  background: red; }

.menu {
  padding-bottom: 20rem; }
  @media only screen and (max-width: 36rem) {
    .menu {
      padding-bottom: 10rem; } }
  .menu h2 {
    font-size: 3.6rem;
    margin-top: 8rem; }
  .menu h3 {
    font-size: 2.1rem; }
  .menu__item {
    margin-bottom: 4rem;
    font-size: 1.6rem; }
  .menu__title {
    display: flex;
    justify-content: space-between; }
  .menu__description {
    font-size: 1.3rem;
    font-style: italic;
    width: 80%; }

.product {
  font-weight: 800;
  font-size: 1.7rem; }

.info {
  font-size: 1.1rem;
  margin-bottom: 4rem; }

.contact {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 3rem 0; }
  .contact__row {
    border-top: solid 1px #cacaca;
    border-bottom: solid 1px #cacaca;
    padding: 3rem 0; }
  .contact p {
    font-size: 1.6rem; }
  .contact h2 {
    font-size: 3rem;
    margin: 0rem 0 3rem 0;
    font-weight: 100; }
  .contact__hours {
    font-size: 1.6rem; }
    .contact__hours__item {
      display: flex;
      justify-content: space-between; }
  .contact__phone {
    text-align: left; }
    @media only screen and (max-width: 48rem) {
      .contact__phone {
        text-align: right; } }
  .contact__location__item {
    font-size: 1.6rem;
    list-style: none; }
  .contact__map {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 48rem) {
      .contact__map {
        margin-top: 5rem; } }

.hours__container {
  margin-left: 0; }
  @media only screen and (max-width: 36rem) {
    .hours__container {
      margin-left: 10%;
      margin-right: 10%; } }

.btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 2px;
  color: #fff;
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: auto; }
  .btn--standard {
    background-color: #272727;
    transition: all .4s linear; }
    .btn--standard:hover {
      background-color: var(--color-primary); }
  .btn--primary {
    background-color: var(--color-primary);
    display: inline-block;
    transition: all .4s linear; }
    .btn--primary:hover {
      background-color: #1291c4; }
  .btn--sm-only {
    background-color: var(--color-primary);
    display: none;
    transition: all .4s linear; }
    .btn--sm-only:hover {
      background-color: #1291c4; }
    @media only screen and (max-width: 36rem) {
      .btn--sm-only {
        display: inline-block; } }

.xs-a-right {
  text-align: right; }

.copyright {
  font-size: 1.2rem;
  color: #575757;
  display: flex;
  align-self: flex-end; }

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 36rem) {
    .carousel {
      height: 400px; } }

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.carousel__track-container {
  background: lightgreen;
  height: 100%;
  position: relative;
  overflow: hidden; }

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in; }

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer; }

.carousel__button--left {
  left: -35px; }

.carousel__button--right {
  right: -35px; }

.carousel__button img {
  width: 20px; }

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0; }

.carousel__indicator {
  border: 0;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer; }
  @media only screen and (max-width: 36rem) {
    .carousel__indicator {
      width: 15px;
      height: 15px;
      margin: 0 6px; } }

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75); }

.icon {
  height: 70%;
  width: 70%;
  fill: white;
  z-index: 10; }
  .icon__wrapper {
    display: flex;
    justify-content: start; }
  .icon__bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 5rem 0 0;
    transform: translateY(0px);
    transition: all .3s ease-in-out; }
  .icon__fb:hover {
    background-color: #4177eb;
    transform: translateY(-4px); }
  .icon__insta::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #e6ca00 0%, #cf2135 51%, #7539ab 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0; }
  .icon__insta:hover {
    transform: translateY(-4px); }
    .icon__insta:hover::before {
      opacity: 1;
      z-index: 1; }
